html {
    position: relative;
    height: 100%;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    img {
        vertical-align: text-bottom;
    }
}
.container .list-inline {
    margin: 20px 0;
}
.btn-more {
    display: block;
    border-radius: 5px;
    padding: 2px;
    color: #FFF;
    background-color: #F0D4D4;
}
#overlay-loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
}
#overlay-loading-content{
    position: absolute;
    top: 50px;
    // top: 0;
    // bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 340px;
    // height: 350px;
    text-align: center;
    color: #fff;
}

#overlay-loading-announce {
    color: #E6D6F0;
    a {
        color: #eee;
    }
}

#process-bar {
    text-align: center;
    color: #000;
}

#nav-share {
    &.navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 12px;
    }
    .fa {
        font-size: 1.5em;
    }
}

#page-menu {
    margin-top: 20px;
}

#page-list {

    .list-detail {
        display: none;
    }
}

#search-box {
    margin-top: 50px;
    margin-bottom: 70px;
}
#load-count {
    font-size: 50%;
}
#result img {
    max-width: 100%;
}
#result {
    tr { position: relative; }
    b {
        color: #09AE57;
        background-color: #F2F1B8;
    }
    .td-more {
        vertical-align: middle;
        text-align: center;
        width: 50px;
    }
}
// #nav-share.navbar-nav>li>#link-svg-plurk {
//     padding-top: 16px;
//     padding-bottom: 11px;
// }
// #svg-plurk {
//     display: inline-block;
//     background-color: #9d9d9d;
//     border-radius: 3px;
// }
// #svg-plurk:hover {
//     background-color: #fff;
// }
#question-info {
    display: none;
    position: absolute;
    left: 50px;
    background-color: #DFEDA7;
    &.active {
        display: block;
    }
    .box-close {
        display: block;
        position: relative;
        width: 50px;
        height: 100%;
    }
    .btn-close {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 34px;
        height: 24px;
        text-align: center;
    }
    .info {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50px;
        right: 0;

        div {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            right: 0;
            left: 0;
            height: 20px;
        }
    }
}

@media (max-width: 767px) {
    #load-count {
        display: block;
    }
    #nav-share li {
        display: inline-block;
    }

    #footer .list-inline {
        margin: 10px 0;
    }
    .td-more {
        display: none;
    }
}