<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zh-TW">
<!--
Excuse 那邊的各位 person 到 me 的 homepage 有 what 事
-->
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="ChrisLiu">
        <title>RGBA color to equivalent RGB :: Chris Liu :: 2017 (c)</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <![endif]-->
        <link rel="icon" href="/assets/images/logo/favicon.ico">
        <style>
        th {
            text-align: right;
        }
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
            vertical-align: middle;
        }
        label {
            margin-top: 60px;
        }
        .color {
            display: inline-block;
            width: 75px;
            height: 75px;
            border-radius: 5px;
            border: 1px solid #333;
            margin-bottom: 10px;
        }
        label.no-margin {
            margin-top: 0;
        }
        </style>
    </head>
    <body>

        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand" href="/rgba">RGBA color to equivalent RGB</a>
                </div>
            </div>
        </div>

        <div id="main" class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="form-group">
                        <label for="color">Color</label>
                        <span class="color pull-right" v-bind:style="{ backgroundColor: oldColor, opacity: alpha }"></span>
                        <input type="text" class="form-control" id="color" placeholder="input the #aabbcc hex color" v-model="oldColor" />
                    </div>

                    <div class="form-group">
                        <label for="alpha" class="no-margin">Alpha</label>
                        <input type="text" class="form-control" id="alpha" placeholder="input the 0~100" v-model="alpha" />
                    </div>

                    <div class="form-group">
                        <label for="backColor">Background Color</label>
                        <span class="color pull-right" v-bind:style="{ backgroundColor: backColor }"></span>
                        <input type="text" class="form-control" id="backColor" placeholder="input the #aabbcc hex color" v-model="backColor" />
                    </div>

                    <div class="form-group">
                        <label for="newColor">Calculated Color</label>
                        <span class="color pull-right" v-bind:style="{ backgroundColor: newColor }"></span>
                        <input type="text" class="form-control" id="newColor" v-model="newColor" />
                    </div>

                    <hr />

                    <h4>References</h4>

                    <ul>
                        <li><a href="https://stackoverflow.com/questions/12228548/finding-equivalent-color-with-opacity" target="_blank">Finding “equivalent” color with opacity</a>
                    </ul>

                </div>

            </div>
        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
        <script>
function hexToR(h) {return parseInt((cutHex(h)).substring(0,2),16)}
function hexToG(h) {return parseInt((cutHex(h)).substring(2,4),16)}
function hexToB(h) {return parseInt((cutHex(h)).substring(4,6),16)}
function cutHex(h) {return (h.charAt(0)=="#") ? h.substring(1,7):h}

var app = new Vue({
    el: '#main',
    data: {
        oldColor: '#ffffff',
        alpha: 100,
        backColor: '#000000',
    },
    computed: {
        newColor: function() {
            var r = hexToR(this.oldColor);
            var g = hexToG(this.oldColor);
            var b = hexToB(this.oldColor);

            var br = hexToR(this.backColor);
            var bg = hexToG(this.backColor);
            var bb = hexToB(this.backColor);

            var rr = Math.floor(br + (r-br) * (this.alpha/100));
            var rg = Math.floor(bg + (g-bg) * (this.alpha/100));
            var rb = Math.floor(bb + (b-bb) * (this.alpha/100));

            return '#' + rr.toString(16) + rg.toString(16) + rb.toString(16);
        }
    }
});

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-59043056-1', 'auto');
ga('send', 'pageview');

        </script>
    </body>
</html>
